/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color:hsla(25, 98%, 52%, 1);
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
}
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}


/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 0;
    margin-bottom: 30px;
}
.banner-content{
    max-width: 585px;
}

/* main section styles */


/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    margin: 130px 230px;
    background-color: #FFF8F3;
    margin: 130px 0;
}